name: Rust-Flutter CI

on:
  pull_request:
  merge_group:

jobs:
  code-checks:
    name: Code Quality Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt, clippy

      - name: Rust cache
        uses: Swatinem/rust-cache@v2

      - uses: extractions/setup-just@v3
      - name: Install dprint
        run: |
          curl -fsSL https://dprint.dev/install.sh | sh
          echo "/home/runner/.dprint/bin" >> $GITHUB_PATH

      - name: Verify dprint installation
        run: dprint --version

      - name: Setup flutter rust bridge
        run: cargo install flutter_rust_bridge_codegen

      - name: Install FVM
        run: |
          curl -fsSL https://fvm.app/install.sh | bash -s -- 4.0.5
          echo "$HOME/fvm/bin" >> $GITHUB_PATH

      - name: Make .env file for flutter build
        uses: SpicyPizza/create-envfile@v2.0
        with:
          envkey_ESPLORA_URL: "http://localhost:30000"
          envkey_ARK_SERVER_URL: "http://localhost:7070"
          envkey_ARK_NETWORK: "regtest"
          envkey_BOLTZ_URL: "https://api.ark.boltz.exchange"
          envkey_BACKEND_URL: "https://apiborrow.lendasat.com"
          envkey_WEBSITE_URL: "http://172.20.192.246:3000"

      - name: Install dependencies
        run: fvm flutter pub get

      - name: Build rust library
        run: just ffi-build

      - name: Verify formatting
        run: just fmt-check

      - name: Clippy
        run: just clippy

  build-android:
    name: Build Android APK
    needs: [code-checks]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Install cargo-ndk
        run: cargo install cargo-ndk

      - name: Add Android targets
        run: rustup target add aarch64-linux-android armv7-linux-androideabi x86_64-linux-android i686-linux-android

      - name: Install cargo expand
        run: cargo install cargo-expand

      - name: Rust cache
        uses: Swatinem/rust-cache@v2

      - uses: extractions/setup-just@v3

      - name: Setup flutter rust bridge
        run: cargo install flutter_rust_bridge_codegen

      - name: Install FVM
        run: |
          curl -fsSL https://fvm.app/install.sh | bash -s -- 4.0.5
          echo "$HOME/fvm/bin" >> $GITHUB_PATH

      - name: Make .env file for flutter build
        uses: SpicyPizza/create-envfile@v2.0
        with:
          envkey_ESPLORA_URL: "http://localhost:30000"
          envkey_ARK_SERVER_URL: "http://localhost:7070"
          envkey_ARK_NETWORK: "regtest"
          envkey_BOLTZ_URL: "https://api.ark.boltz.exchange"
          envkey_BACKEND_URL: "https://apiborrow.lendasat.com"
          envkey_WEBSITE_URL: "http://172.20.192.246:3000"

      - name: Install dependencies
        run: fvm flutter pub get

      - name: Build rust library
        run: just ffi-build

      - name: Build APK
        run: just android-build

  build-ios:
    name: Build iOS
    needs: [code-checks]
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Add iOS target
        run: rustup target add aarch64-apple-ios

      - name: Install cargo expand
        run: cargo install cargo-expand

      - name: Rust cache
        uses: Swatinem/rust-cache@v2

      - uses: extractions/setup-just@v3

      - name: Setup flutter rust bridge
        run: cargo install flutter_rust_bridge_codegen

      - name: Install FVM
        run: |
          curl -fsSL https://fvm.app/install.sh | bash -s -- 4.0.5
          echo "$HOME/fvm/bin" >> $GITHUB_PATH

      - name: Make .env file for flutter build
        uses: SpicyPizza/create-envfile@v2.0
        with:
          envkey_ESPLORA_URL: "http://localhost:30000"
          envkey_ARK_SERVER_URL: "http://localhost:7070"
          envkey_ARK_NETWORK: "regtest"
          envkey_BOLTZ_URL: "https://api.ark.boltz.exchange"
          envkey_BACKEND_URL: "https://apiborrow.lendasat.com"
          envkey_WEBSITE_URL: "http://172.20.192.246:3000"

      - name: Install dependencies
        run: fvm flutter pub get

      - name: Build rust library
        run: just ffi-build

      - name: Build for ios
        run: just ios-build
